/*card*/
body {
}
#pack {
	position: relative;
	height: 300px;
}
.b-card {
	position: absolute;
	top: 0;
	left: 50%;
	display: none;
	margin: 0 0 0 -250px;
	width: 500px;
	height: 250px;
	background: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
	-khtml-box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
	padding: 20px 40px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.b-card.i-current {
	display: block;
	z-index: 1;
}
.b-card.i-animated {
	display: block;
	z-index: 2;
}
.b-card__item {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 30pt;
}
.b-card__translation {
	display: none;
	font-weight: normal;
	font-size: 20pt;
}
.b-card.i-inverse .b-card__translation {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 30pt;
	display: block;
}
.b-card.i-inverse .b-card__item {
	display: none;
	font-weight: normal;
	font-size: 20pt;
}

.b-settings__checkbox-list {}
.b-settings__checkbox-list__item {}
.b-settings__checkbox-list__item.i-checked {
	color: #999;
}
/*_card_*/

@media screen and (max-width: 960px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 320px) {
	/*card*/
	body {
	}
	.b-card {
		display: none;
		width: 200px;
		margin: 0 auto;
		height: 150px;
		background: #fff;
		box-shadow: 0 2px 4px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
		-khtml-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
		padding: 2em 4em;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: bold;
		font-style: italic;
		font-size: 20px;
	}
	.b-card.i-current {
		display: block;
	}
	.b-card__translation {
		display: none;
		font-weight: normal;
	}
	/*_card_*/
}